- if user_signed_in?
  = link_to(t('menu.logout'), destroy_user_session_path, :method => :delete)
- else
  = link_to(t('menu.login'), new_user_session_path)
  |
  = link_to(t('menu.register'), new_user_registration_path)
| #{t 'menu.user'}:
- if current_user
  = link_to( current_user.name, edit_user_registration_path )
- else
  (#{t 'menu.not_logged_in'})
- if current_user && current_user.admin?
  |
  = link_to t('menu.admin'), admin_path
