%h2= t 'devise.mailer.confirmation_instructions.subject'
%p= t 'devise.confirmations.send_instructions'
= form_for resource, :as => resource_name,
  :url => confirmation_path(resource_name),
  :html => { :method => :post } do |f|
  %fieldset
    = f.email_field :email
  = f.submit t 'devise.forms.confirmations.submit'
= render :partial => "devise/shared/links"
