- content_for :sidebar do
  #calendar
    = render :partial => 'shared/calendar'

%h2= SchoolSession.model_name.human(:count => 2)
%table.table
  %tr
    %th= SchoolSession.human_attribute_name "week_of"
  - @school_sessions.each do |school_session|
    %tr
      %td= l school_session.week_of
      %td= link_to t("record.show"), congregation_school_session_path( @congregation, school_session )
      %td= link_to t("record.edit"), edit_congregation_school_session_url( @congregation, school_session )
%br/
