- content_for :sidebar do
  #calendar
    = render :partial => 'shared/calendar'

%section
  %h2= t(".session_for", :week_of => @school_session.week_of)
  %section.status
    %strong= t ".status" 
    = t "status." + @school_session.state
- unless @school_session.cancelled?
  %section.data
    %header= t "assignment.bh"
    %ul
      %li
        %strong= t ".assigned_to"
        = h @school_session.bible_highlights.student.display_name if @school_session.bible_highlights.student
  - if @school_session.reader
    %section.data
      %header= t "assignment.reader"
      %ul
        %li
        %strong= t ".assigned_to"
        = h @school_session.reader.student.display_name if @school_session.reader.student
  - else
    %section#schools
      %ul
        - @school_session.schools.each do |school|
          %li= link_to "School " + school.position.to_s, "#school_" + school.position.to_s
      - @school_session.schools.each do |school|
        %div{ :id => "school_" + "#{school.position.to_s}", :class => "school"}
          %section.data
            %header= t "assignment.no1"
            %ul
              %li
                %strong= t ".assigned_to"
                = school.talk_no1.student.display_name if school.talk_no1.student
              %li
                %strong= Lesson.model_name.human
                = school.talk_no1.lesson.display
          %section.data
            %header= t "assignment.no2"
            %ul
              %li
                %strong= t ".assigned_to"
                = school.talk_no2.student.display_name if school.talk_no2.student
              %li
                %strong= Lesson.model_name.human
                = school.talk_no2.lesson.display
              %li
                %strong= t ".assistant"
                = school.talk_no2.assistant.display_name if school.talk_no2.assistant
          %section.data
            %header= t "assignment.no3"
            %ul
              %li
                %strong= t ".assigned_to"
                = school.talk_no3.student.display_name if school.talk_no3.student
              %li
                %strong= Lesson.model_name.human
                = school.talk_no3.lesson.display
              -if school.talk_no3.assistant
                %li
                  %strong= t ".assistant"
                  = school.talk_no3.assistant.display_name
- if @school_session.assigned?
  %p= link_to t(".print_slips"), congregation_reports_show_path(@congregation, :week_of => @school_session.week_of), :class => "nice big radius green button"
= link_to t("record.edit"), edit_congregation_school_session_path( @congregation, @school_session )
|
= link_to t(".cancel"), new_congregation_special_date_path( @congregation, :edit_date => @school_session.week_of )
|
= link_to( t(".complete"), complete_congregation_school_session_path( @congregation, @school_session ) ) if @school_session.assigned?
