- content_for :sidebar do
  #calendar
    = render :partial => 'shared/calendar'

#schedule
  #summary
    %h2= h "Schedule for " + @school_session.week_of.to_s
    #status{ :class => "#{@school_session.state}" }
      %strong Status:
      = h @school_session.state
  - unless @school_session.cancelled?
    #div.assignment
      .type Bible Highlights
      #div.student
        %strong Student:
        = h @school_session.bible_highlights.student.display_name if @school_session.bible_highlights.student
    - if @school_session.reader
      #div.assignment
        #div.type Review Reader
        #div.student= h @school_session.reader.student.display_name if @school_session.reader.student
    - else
      - @school_session.schools.each do |school|
        #div{ :id => "school_" + "#{school.position.to_s}", :class => "school"}
          .title= h "School " + school.position.to_s
          .assignment
            .type Talk No 1
            .student
              %strong Student:
              = school.talk_no1.student.display_name if school.talk_no1.student
            .lesson
              %strong Lesson:
              = school.talk_no1.lesson.display
          .assignment
            .type Talk No 2
            .student
              %strong Student:
              = school.talk_no2.student.display_name if school.talk_no2.student
            .lesson
              %strong Lesson:
              = school.talk_no2.lesson.display
            .student
              %strong Assistant:
              = school.talk_no2.assistant.display_name if school.talk_no2.assistant
          .assignment
            .type Talk No 3
            .student
              %strong Student:
              = school.talk_no3.student.display_name if school.talk_no3.student
            .lesson
              %strong Lesson:
              = school.talk_no3.lesson.display
            -if school.talk_no3.assistant
              .student
                %strong Assistant:
                = school.talk_no3.assistant.display_name
  = link_to 'Edit', edit_congregation_school_session_url( @congregation, @school_session )
  |
  = link_to 'Cancel School', new_congregation_special_date_path( @congregation, :edit_date => @school_session.week_of )
  |
  = link_to( 'Complete', complete_congregation_school_session_path( @congregation, @school_session ) ) if @school_session.assigned?
