%h1 Listing congregations

%table.table
  %tr
    %th.first Name
    %th Number of schools
    %th
    %th
    %th
    %th.last

  - @congregations.each do |congregation|
    %tr
      %td= congregation.name
      %td= congregation.number_of_schools
      %td= link_to 'Manage', congregation
      %td= link_to 'Edit', edit_congregation_path(congregation)
      %td= link_to 'Destroy', congregation, :confirm => 'Are you sure?', :method => :delete
      %td
        - if congregation == @current_user.default_congregation
          Default
        - else
          = link_to 'Make default', set_default_congregation_user_path( @current_user, :default_congregation => congregation )

%p= link_to 'Add Congregation', new_congregation_path
