%h3= @congregation.name
%p 
  #{t 'congregation.meeting_day'}: 
  - if @congregation.meeting_day
    = t('date.day_names')[@congregation.meeting_day]
%p= link_to (Schedule.model_name.human), language_schedules_path( @congregation.language )
%p= link_to (LessonSource.model_name.human(:count => 2)), language_lesson_sources_path( @congregation.language )
%p= link_to (SettingSource.model_name.human(:count => 2)), language_setting_sources_path( @congregation.language )
%p= link_to (SchoolSession.model_name.human(:count => 2)), congregation_school_sessions_path( @congregation )
%p= link_to (SpecialDate.model_name.human(:count => 2)), congregation_special_dates_path( @congregation )
%p= link_to (Student.model_name.human(:count => 2)), congregation_students_path( @congregation )
%p= link_to (Family.model_name.human(:count => 2)), congregation_families_path( @congregation )
