.checkbox_pair
= f.label :use_for_bh, "Bible Highlights"
= f.check_box :use_for_bh
.checkbox_pair
= f.label :use_for_no1, "Talk 1"
= f.check_box :use_for_no1
.checkbox_pair
= f.label :use_for_no3, "Talk 3"
= f.check_box :use_for_no3
.checkbox_pair
= f.label :use_for_reader, "Review Reader"
= f.check_box :use_for_reader
= f.hidden_field :type, :value => "Brother"
