.container
  .row
    #student_info.six.columns
      %fieldset
        %legend= t 'student.info'
        = f.check_box :is_active
        = f.text_field :first_name
        = f.text_field :middle_name
        = f.text_field :last_name
        = f.text_field :display_name
        - unless @student.family
          %label.checkbox{ :for => "new_family" }
            = check_box_tag "new_family", "1", false
            = t 'student.create_family'
        - if @families.count > 0
          = f.select( :family_id, @families, { :include_blank => true } )
        = f.text_field :telephone
        = f.email_field :email
        = f.text_area :notes
    #student_roles.six.columns
      %fieldset
        %legend= t 'student.use_as' 
        = f.check_box :use_for_adult
        = f.check_box :use_for_advanced
      %fieldset
        %legend= t 'student.use_in'
        = f.check_box :use_in_main_school
        = f.check_box :use_in_secondary_school
      %fieldset
        %legend= t 'student.use_for' 
        - if @student.kind_of?(Brother)
          = render :partial => "form_brother", :locals => { :f => f }
        - if @student.kind_of?(Sister)
          = render :partial => "form_sister", :locals => { :f => f }
      = f.submit
