%h1 Students

%table#student_data.table.data
  %thead
    %tr
      %th Last name
      %th First name
      %th Family
      %th Sex
      %th
      %th
  %tbody
    - @students.each do |student|
      %tr
        %td= student.last_name
        %td= link_to student.first_name, congregation_student_path( @congregation, student )
        %td= link_to student.family.name, congregation_family_path( @congregation, student.family ) if student.family
        %td= student.type == "Brother" ? "M" : "F"
        %td= link_to 'Edit', edit_congregation_student_url( @congregation, student )
        %td= link_to 'Delete', congregation_student_url( @congregation, student ), :confirm => 'Are you sure?', :method => :delete
%p
  = link_to 'Add brother', :controller => "students", :action => "new", :type => "Brother"
  = link_to 'Add sister', :controller => "students", :action => "new", :type => "Sister"
