- student_type = @student.kind_of?( Brother ) ? :brother : :sister
%h2= t 'record.create_' + student_type.to_s
= form_for [:congregation, @student], :as => student_type, :validate => true do |f|
  = render :partial => "form_all", :locals => { :f => f }
  = f.submit
%p= link_to t('nav.back'), congregation_students_path( @congregation )
