%h2= "New " + @student.type.to_s
- student_type = @student.kind_of?( Brother ) ? :brother : :sister
= form_for [:congregation, @student], :as => student_type, :validate => true do |f|
  = render "shared/error_messages", :target => @student
  = render :partial => "form_all", :locals => { :f => f }
  .submit= f.submit "Create"
%p= link_to 'Back', congregation_students_path( @congregation )
