.container
  .row
    .five.columns
      #student_header
        - if @student.is_active?
          = image_tag "active.png", :style => "float:right;"
        - else
          = image_tag "inactive.png", :style => "float:left;"
        - if @student.kind_of?(Brother)
          - if @student.use_for_adult?
            = image_tag "brother.png", :style => "float:left;"
          - else
            = image_tag "child_male.png", :style => "float:left;"
        - else
          - if @student.use_for_adult?
            = image_tag "sister.png", :style => "float:left;"
          - else
            = image_tag "child_female.png", :style => "float:left;"
        
      %section
        %header= @student.display_name
        %strong= t 'activerecord.attributes.student.first_name'
        = @student.first_name
        %br/
        %strong= t 'activerecord.attributes.student.middle_name'
        = @student.middle_name
        %br/
        %strong= t 'activerecord.attributes.student.last_name'
        = @student.last_name
        %br/
        %strong= t 'activerecord.attributes.student.telephone'
        = @student.telephone
        %br/
        %strong= t 'activerecord.attributes.student.email'
        = @student.email
      %section
        %header= t "student.use_as"
        %strong= t 'activerecord.attributes.student.use_for_adult'
        = b @student.use_for_adult
        %br/
        %strong= t 'activerecord.attributes.student.use_for_advanced'
        = b @student.use_for_advanced
      %section
        %header= t "student.use_in"
        %strong= t 'activerecord.attributes.student.use_in_main_school'
        = b @student.use_in_main_school
        %br/
        %strong= t 'activerecord.attributes.student.use_in_secondary_school'
        = b @student.use_in_secondary_school
      %section
        %header= t "student.use_for"
        - if @student.type == "Brother"
          %strong= t 'activerecord.attributes.student.use_for_bh'
          = b @student.use_for_bh
          %br/
          %strong= t 'activerecord.attributes.student.use_for_reader'
          = b @student.use_for_reader
          %br/
          %strong= t 'activerecord.attributes.student.use_for_no1'
          = b @student.use_for_no1
          %br/
          %strong= t 'activerecord.attributes.student.use_for_no3'
          = b @student.use_for_no3
        - else
          %strong= t 'activerecord.attributes.student.use_for_no2'
          = b @student.use_for_no2
          %br/
          %strong= t 'activerecord.attributes.student.use_for_no3'
          = b @student.use_for_no3
          %br/
          %strong= t 'activerecord.attributes.student.use_for_assistant'
          = b @student.use_for_assistant
      %section
        %header= t 'activerecord.attributes.student.notes'
        = @student.notes
      %p
        = link_to t("record.edit"), edit_congregation_student_path( @congregation, @student )
        \|
        = link_to t("nav.back"), congregation_students_path( @congregation )
    .seven.columns
      #student_supp_data
        %ul
          %li= link_to Assignment.model_name.human(:count => 2), "#assignments-tab"
          %li= link_to Lesson.model_name.human(:count => 2), "#lessons-tab"
          - if @student.type == "Sister"
            %li= link_to Setting.model_name.human(:count => 2), "#settings-tab"
          %li= link_to UnavailableDate.model_name.human(:count => 2), "#availability-tab"
        #assignments-tab
          %h4 Assignments
        #lessons-tab
          %h4 Lessons
        - if @student.type == "Sister"
          #settings-tab
            %h4 Settings
        #availability-tab
          %h4 Availability
          = link_to UnavailableDate.model_name.human(:count => 2), congregation_student_unavailable_dates_path( @congregation, @student )
