.container
  .row
    .five.columns
      #student_header
        - if @student.is_active?
          = image_tag "active.png", :style => "float:left;"
        - else
          = image_tag "inactive.png", :style => "float:left;"
        - if @student.kind_of?(Brother)
          - if @student.use_for_adult?
            = image_tag "brother.png", :style => "float:left;"
          - else
            = image_tag "child_male.png", :style => "float:left;"
        - else
          - if @student.use_for_adult?
            = image_tag "sister.png", :style => "float:left;"
          - else
            = image_tag "child_female.png", :style => "float:left;"
        
        %h2= @student.display_name
      %p
        %strong= t 'activerecord.attributes.student.first_name'
        = @student.first_name
        %br/
        %strong= t 'activerecord.attributes.student.middle_name'
        = @student.middle_name
        %br/
        %strong= t 'activerecord.attributes.student.last_name'
        = @student.last_name
      %p
        %strong= t 'activerecord.attributes.student.telephone'
        = @student.telephone
        %br/
        %strong= t 'activerecord.attributes.student.email'
        = @student.email
      %p
        %strong= t 'activerecord.attributes.student.use_for_advanced'
        = @student.use_for_advanced

      %h4= School.model_name.human(:count => 2)
      %table.table
        %tr
          %th{:width => "50%"} Main
          %th{:width => "50%"} Secondary
        %tr
          %td= active_icon(@student.use_in_main_school?)
          %td= active_icon(@student.use_in_secondary_school?)

      %h4 Assignments
      %table.table
        %tr
          %th{:width => "25%"} Highlights
          %th{:width => "25%"} Review Reader
          %th{:width => "25%"} No. 1
          %th{:width => "25%"} No. 3
        %tr
          %td= active_icon(@student.use_for_bh?)
          %td= active_icon(@student.use_for_reader?)
          %td= active_icon(@student.use_for_no1?)
          %td= active_icon(@student.use_for_no3?)
      %p
        %strong Notes:
        = @student.notes
      %p
        = link_to "Unavailable Dates", congregation_student_unavailable_dates_path( @congregation, @student )
        \|
        = link_to 'Edit', edit_congregation_student_path( @congregation, @student )
        \|
        = link_to 'Back', congregation_students_path( @congregation )
    .seven.columns
      #student_supp_data
        %ul
          %li= link_to "Assignments", "#assignments-tab"
          %li= link_to "Lessons", "#lessons-tab"
          %li= link_to "Settings", "#settings-tab"
          %li= link_to "Availability", "#availability-tab"
        #assignments-tab
          %h4 Assignments
        #lessons-tab
          %h4 Lessons
        #settings-tab
          %h4 Settings
        #availability-tab
          %h4 Availability
