.container
  .row
    .five.columns
      %header.student
        - if @student.is_active?
          = image_tag "active.png", :style => "float:right;"
        - else
          = image_tag "inactive.png", :style => "float:left;"
        - if @student.kind_of?(Brother)
          - if @student.use_for_adult?
            = image_tag "brother.png", :style => "float:left;"
          - else
            = image_tag "child_male.png", :style => "float:left;"
        - else
          - if @student.use_for_adult?
            = image_tag "sister.png", :style => "float:left;"
          - else
            = image_tag "child_female.png", :style => "float:left;"
        %h2= @student.display_name
      %section.data
        %header= t ".contact_info"
        %ul
          %li
            %strong= Student.human_attribute_name("telephone")
            = @student.telephone
          %li
            %strong= Student.human_attribute_name("email")
            = @student.email
      %section.data
        %header= t "student.use_as"
        %ul
          %li
            %strong= Student.human_attribute_name("use_for_adult")
            = b @student.use_for_adult
          %li
            %strong= Student.human_attribute_name("use_for_advanced")
            = b @student.use_for_advanced
      %section.data
        %header= t "student.use_in"
        %ul
          %li
            %strong= Student.human_attribute_name("use_in_main_school")
            = b @student.use_in_main_school
          %li
            %strong= Student.human_attribute_name("use_in_secondary_school")
            = b @student.use_in_secondary_school
      %section.data
        %header= t "student.use_for"
        %ul
          - if @student.type == "Brother"
            %li
              %strong= Student.human_attribute_name("use_for_bh")
              = b @student.use_for_bh
            %li
              %strong= Student.human_attribute_name("use_for_reader")
              = b @student.use_for_reader
            %li
              %strong= Student.human_attribute_name("use_for_no1")
              = b @student.use_for_no1
            %li
              %strong= Student.human_attribute_name("use_for_no3")
              = b @student.use_for_no3
          - else
            %li
              %strong= Student.human_attribute_name("use_for_no2")
              = b @student.use_for_no2
            %li
              %strong= Student.human_attribute_name("use_for_no3")
              = b @student.use_for_no3
            %li
              %strong= Student.human_attribute_name("use_for_assistant")
              = b @student.use_for_assistant
      %section.data
        %header= Student.human_attribute_name("notes")
        = @student.notes
      %p
        = link_to t("record.edit"), edit_congregation_student_path( @congregation, @student )
        \|
        = link_to t("nav.back"), congregation_students_path( @congregation )
    .seven.columns
      %section.supp_data
        %ul
          %li= link_to Assignment.model_name.human(:count => 2), "#assignments-tab"
          %li= link_to Lesson.model_name.human(:count => 2), "#lessons-tab"
          - if @student.type == "Sister"
            %li= link_to Setting.model_name.human(:count => 2), "#settings-tab"
          %li= link_to UnavailableDate.model_name.human(:count => 2), "#availability-tab"
        #assignments-tab
          = render "assignments"
        #lessons-tab
          %h4 Lessons
        - if @student.type == "Sister"
          #settings-tab
            %h4 Settings
        #availability-tab
          = render "unavailable_dates"
