= form_for [@congregation, @student, @unavailable_date], :validate => true do |f|
  %fieldset
    %legend= "Beginning #{ @unavailable_date.start_date.to_s }"
    = f.date_select :start_date, {:class => "datetime"}
    = f.date_select :end_date, {:class => "datetime"}
    = f.text_field :reason
  = f.submit
