- content_for :sidebar do
  #calendar
    = render :partial => 'shared/calendar'

%section
  %h2= @student.display_name
  %h4= t "record.edit_model", :model => UnavailableDate.model_name.human
  = render 'form'
  %p
    = link_to 'Show', [@congregation, @student, @unavailable_date]
    \|
    = link_to 'Back', congregation_student_unavailable_dates_path( @congregation, @student )
