- content_for :sidebar do
  #calendar
    = render :partial => 'shared/calendar'

%section
  %h2= @student.display_name
  %h4= UnavailableDate.model_name.human(:count => 2)

  %table#unavailable_dates_data.table.data{ :data => { :locale => I18n.locale } }
    %thead
      %tr
        %th Start Date
        %th End Date
        %th Reason
        %th
        %th
    %tbody
      - @unavailable_dates.each do |ud|
        %tr
          %td= l ud.start_date
          %td= l ud.end_date
          %td= ud.reason
          %td= link_to t("nav.show"), congregation_student_unavailable_date_path( @student.congregation, @student, ud )
          %td= link_to t("record.edit"), edit_congregation_student_unavailable_date_path( @student.congregation, @student, ud )
