%h2 New Family
= form_for [@congregation, @family] do |f|
  = render "shared/error_messages", :target => @family
  = render :partial => "form", :locals => { :f => f }
  = f.submit "Create"
= link_to "Back", congregation_families_path( @congregation )

