%h1= Language.model_name.human(:count => 2)

%table#language_data.table.data
  %thead
    %tr
      %th= Language.human_attribute_name "name"
      %th= Language.human_attribute_name "display_name"
      %th= Language.human_attribute_name "code"
      %th
      %th
      %th
  %tbody
    - @languages.each do |language|
      %tr
        %td= language.name
        %td= language.display_name
        %td= language.code
        %td= link_to t("record.show"), language
        %td= link_to t("record.edit"), edit_language_path(language)
        %td= link_to t("record.delete"), language, :confirm => t("record.confirm"), :method => :delete

= link_to t("record.create_model", :model => Language.model_name.human), new_language_path
