%fieldset
  = f.check_box :has_review
%fieldset
  %legend= t "assignment.bh"
  = f.fields_for :bible_highlights do |bh|
    = bh.text_field :source, :class => "expand"
%fieldset
  %legend= t "assignment.no1"
  = f.fields_for :talk_no1 do |t|
    = t.text_field :source, :class => "expand"
%fieldset
  %legend= t "assignment.no2"
  = f.fields_for :talk_no2 do |t|
    = t.text_field :title, :class => "expand"
    %br/
    = t.text_field :source, :class => "expand"
    = t.check_box :for_adult_only
%fieldset
  %legend= t "assignment.no3"
  = f.fields_for :talk_no3 do |t|
    = t.text_field :title, :class => "expand"
    = t.text_field :source, :class => "expand"
    = t.check_box :for_brother_only
    = t.check_box :for_adult_only
