- content_for :sidebar do
  #calendar
    = render :partial => 'shared/calendar'

#schedule
  %h2= t 'schedules.title'
  %h3= l(@schedule.week_of, :format => :week_of)
  = form_for( [@language, @schedule], :html => { :method => :put }) do |f|
    = render :partial => "form", :locals => { :f => f }
    = f.submit
