- content_for :sidebar do
  #calendar
    = render :partial => 'shared/calendar'

%h2= t 'schedules.title'
%h3= l @calendar_date, :format => :month_year
%table.table
  %tr
    %th= t '.week_of'
    %th= t '.has_review'
  - @schedules.each do |schedule|
    %tr
      %td= h schedule.week_of
      %td= b schedule.has_review
      %td= link_to t("record.edit"), edit_language_schedule_path(@language, schedule)
      %td= link_to t("record.show"), language_schedule_path(@language, schedule)
