= form_for [@language, @lesson_source], :validate => true do |f|
  %fieldset
    %legend= LessonSource.human_attribute_name("chapter") + " " + f.object.chapter.to_s
    = f.text_field :description
    = f.text_field :page_number
    = f.text_area :notes
  = f.submit
