%h2= LessonSource.model_name.human + ": " + @language.display_name
%p
  %strong= LessonSource.human_attribute_name("chapter") + ": "
  = @lesson_source.chapter
%p
  %strong= LessonSource.human_attribute_name("description") + ": "
  = @lesson_source.description
%p
  %strong= LessonSource.human_attribute_name("page_number") + ": "
  = @lesson_source.page_number
%p
  %strong= LessonSource.human_attribute_name("use_for_reading") + ": "
  = b @lesson_source.use_for_reading
%p
  %strong= LessonSource.human_attribute_name("use_for_demonstration") + ": "
  = b @lesson_source.use_for_demonstration
%p
  %strong= LessonSource.human_attribute_name("use_for_discourse") + ": "
  = b @lesson_source.use_for_discourse
%p
  %strong= LessonSource.human_attribute_name("notes") + ": "
  = @lesson_source.notes

= link_to 'Edit', edit_language_lesson_source_path(@lesson_source.language_id, @lesson_source)
\|
= link_to 'Back', language_lesson_sources_path( @lesson_source.language_id )
