%h2= SettingSource.model_name.human + ": " + @language.display_name
%p
  %strong= SettingSource.human_attribute_name("number") + ": "
  = @setting_source.number
%p
  %strong= SettingSource.human_attribute_name("description") + ": "
  = @setting_source.description

= link_to t("record.edit"), edit_language_setting_source_path( @language, @setting_source )
\|
= link_to t("nav.back"), language_setting_sources_path( @language )
