!!! 5
!= cc_html(:lang => 'en') do
  %head
    %meta{:charset => "utf-8"}/
    / Uncomment to make IE8 render like IE7
    / <meta http-equiv="X-UA-Compatible" content="IE=7" />
    / Set the viewport width to device width for mobile
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Untitled"
    / Included CSS Files
    = stylesheet_link_tag    "application"
    / Included JS Files
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head
  %body
    = render :partial => "shared/header"
    #content.container
      .row
        #sidebar.four.columns
          = yield :sidebar
        #main.eight.columns
          #flash.flash
            - if flash[:alert]
              .message.error
                %p= flash[:alert]
            - if flash[:notice]
              .message.notice
                %p= flash[:notice]

          = yield
    #footer.container
      .row
        .four.columns.centered
          = render :partial => "shared/footer"
