= form_for [@congregation, @special_date], :validate => true do |f|
  %fieldset
    %legend= SpecialDate.human_attribute_name("week_of") + " " + l(@special_date.week_of)
    = f.select( :event, Constants::SPECIAL_DATE_EVENTS )
    = f.text_field :description
    = f.check_box :is_cancelled
    = f.check_box :is_review_postponed
    = f.hidden_field :week_of
  = f.submit
