- content_for :sidebar do
  #calendar
    = render :partial => 'shared/calendar'

%h2= SpecialDate.model_name.human
= render 'form'
= link_to t("record.show"), [@congregation, @special_date]
\|
= link_to t("nav.back"), congregation_special_dates_path( @congregation )
