- content_for :sidebar do
  #calendar
    = render :partial => 'shared/calendar'

%h2= SpecialDate.model_name.human(:count => 2)

%table#special_date_data.table.data{ :data => { :locale => I18n.locale } }
  %thead
    %tr
      %th= SpecialDate.human_attribute_name "week_of"
      %th= SpecialDate.human_attribute_name "event"
      %th= SpecialDate.human_attribute_name "description"
      %th
      %th
      %th
  %tbody
    - @special_dates.each do |special_date|
      %tr
        %td= l special_date.week_of
        %td= special_date.event
        %td= special_date.description
        %td= link_to t("record.show"), [@congregation, special_date]
        %td= link_to t("record.edit"), edit_congregation_special_date_path( @congregation, special_date )
        %td= link_to t("record.delete"), congregation_special_date_path( @congregation, special_date ), :confirm => t("record.confirm"), :method => :delete
