- content_for :sidebar do
  #calendar
    = render :partial => 'shared/calendar'

%h2= SpecialDate.model_name.human + ": " + l(@special_date.week_of)
%p
  %strong= SpecialDate.human_attribute_name "event"
  = @special_date.event
%p
  %strong= SpecialDate.human_attribute_name "description"
  = @special_date.description
%p
  %strong= SpecialDate.human_attribute_name "is_cancelled"
  = b @special_date.is_cancelled?
%p
  %strong= SpecialDate.human_attribute_name "is_review_postponed"
  = b @special_date.is_review_postponed?

= link_to t("record.edit"), edit_congregation_special_date_path( @congregation, @special_date )
\|
= link_to t("nav.back"), congregation_special_dates_path( @congregation )
